span.MuiStepConnector-line.MuiStepConnector-lineVertical.css-8t49rw-MuiStepConnector-line{
    margin-left: 10px;
}
svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.css-85b6l3-MuiSvgIcon-root {
    color: black;
}


span.MuiStepConnector-line.MuiStepConnector-lineVertical.css-13hkxlg-MuiStepConnector-line {
    margin-left: 10px;
}
.MuiOutlinedInput-root{
    color: white;
}